<%= render 'owners/home' %>


    <div class="contents clearfix">
      <div class ="box1"><%= link_to "商品一覧", cdposts_path %></div>
      <div class ="box2"><%= link_to "購入履歴・配送状況一覧",all_delivery_path %></div>
      <div class ="box3"><%= link_to "でんしょばと",messages_path %></div>
      <div class ="box4"><%= link_to "商品投稿", new_cdpost_path %></div>
      <div class ="box5"><%= link_to "お客様の情報", users_path %></div>
    <div>
  </body>
</html>