<%= render 'owners/home' %>


    <div class="contents clearfix">
     <%= link_to cdposts_path do %>
      <div class ="box1">商品一覧</div>
     <% end %>
     <%= link_to all_delivery_path do %>
      <div class ="box2">購入履歴・配送状況一覧</div>
      <% end %>
      <%= link_to messages_path do %>
      <div class ="box3">でんしょばと</div>
       <% end %>
       <%= link_to new_cdpost_path do %>
      <div class ="box4">商品投稿</div>
      <% end %>
      <%= link_to users_path do %>
      <div class ="box5">お客様の情報</div>
      <% end %>
    <div>
  </body>
</html>