
<!-- サイドバー -->
<!-- Home,Index.Show,Cart,Denshobato,Mypage -->
<div class="col-xs-2">
<div class="side-bar">
    <!--1段落目-->

    <% if user_signed_in? %>
    <% else %>
    <h2>ログイン</h2>
    <%=form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <!--メールアドレス-->
    <div class="field-1">
        <%= f.label :メールアドレス %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email" %>
    </div>

　　<!--パスワードボックス-->
    <div class="field-2">
    	<%= f.label :パスワード %><br>
        <%= f.password_field :password, autocomplete: "current-password", class: "password" %>
    </div>

    <!--パスをお忘れですか？-->
    <!--view作成のみ？-->
	<%= link_to "パスワードをお忘れですか？", new_password_path(resource_name) %>

    <!--ログイン-->
    <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-success" %>
    </div>

    <!--新規登録-->
    <!-- まだリンク先がない？ -->
    <%= link_to "新規登録", new_registration_path(resource_name), class: "btn btn-info" %>

    <% end %>
    <% end %>

    <!--2段落目-->
    <h2><ジャンル></h2>


    <!--3段落目-->
    <%= link_to "ロック",genre_path(id:1), class:"btn btn-warning col-xs-10 col-xs-offset-1" %><br>
    <%= link_to "ジャズ",genre_path(id:2), class:"btn btn-warning col-xs-10 col-xs-offset-1" %><br>
    <%= link_to "クラシック",genre_path(id:3), class:"btn btn-warning col-xs-10 col-xs-offset-1" %><br>
    <%= link_to "演歌",genre_path(id:4), class:"btn btn-warning col-xs-10 col-xs-offset-1" %><br>
    <%= link_to "ソウル",genre_path(id:5), class:"btn btn-warning col-xs-10 col-xs-offset-1" %><br>
    <%= link_to "R&B",genre_path(id:6), class:"btn btn-warning col-xs-10 col-xs-offset-1" %><br>
    <%= link_to "歌謡曲・演歌",genre_path(id:7), class:"btn btn-warning col-xs-10 col-xs-offset-1" %><br>
    <%= link_to "サウンドトラック",genre_path(id:8), class:"btn btn-warning col-xs-10 col-xs-offset-1" %><br>
    <%= link_to "K-ポップ",genre_path(id:9), class:"btn btn-warning col-xs-10 col-xs-offset-1" %><br>
    <%= link_to "アニメ・ゲーム",genre_path(id:10), class:"btn btn-warning col-xs-10 col-xs-offset-1" %><br>


</div>
</div>