<%= render 'owners/home' %>
<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
<% end %>

<div class="container">

<div class="field row">
	<h2>アーティスト登録</h2>
	<%= form_for(@cd_artist) do |f| %>

	<div class="field row">
	<lavel>アーティスト名</lavel>
	<%= f.text_field :artist_name, class:"" %>
	</div>

	<div class="field row">
	<lavel>邦楽/洋楽</lavel>
	<%= f.select :cd_category,[["邦楽","0"],["洋楽","1"]], class:"" %>
	</div>

	<br>
	<div class="action row">
	<%= f.submit 'アーティストを登録する', class:"btn btn-primary" %>
	</div>
	<% end %>

</div>

	<h2>アーティスト一覧</h2>

				<table class= "table table-hover table-inverse table-bordered">
            		<thead>

            		  <tr>
              			  <th class ="artist_number col-xs-1">番号</th>
               			  <th class ="artist_name col-xs-5">アーティスト名</th>
                 		　<th class ="cd_category col-xs-2">邦楽/洋楽</th>
                 		　<th class ="edit-button col-xs-2">編集</th>
                   		 <th class ="edit-button col-xs-2">削除</th>
              		　</tr>
          		　  </thead>

           		　　 <tbody>
           			 <% if @cd_artists.present? %>
              		 <% @cd_artists.each do |cd_artist| %>
               		  <tr class ="message-item">
                   		　 <td class="name-user"><%= cd_artist.id %></td>
                    	 　<td class="artist-name"><%= cd_artist.artist_name %></td>

						   <td class="category"><%= decode_category cd_artist.cd_category %></td>
						   <td class="button-show"><%=link_to "編集", edit_cd_artist_path(cd_artist.id),class:"btn-sm btn-success" %></td>
						   <td class="button-show"><%=link_to "削除", cd_artist_path(cd_artist.id),class:"btn-sm btn-danger",method: :delete, data: {confirm: '本当に削除してよろしいですか？'} %></td>
                      </tr>

                      <% end %>
                      <% end %>
           			 </tbody>
      		　  </table>


</div>