
<!-- 商品詳細を表示するページ -->
<h2>商品詳細</h2>

<!-- イメージ -->
	<div class="image">
		<!-- 画像のimgタグ -->
		<%= attachment_image_tag @product, :image, :fill, 50, 50, fallback:"no_image.jpg", :size => "50x50" %>

	</div>

<!-- 詳細テーブル -->
		<table class="table table-striped">
			<thead>
				<th>アーティスト名</th>
		        <th>シングル/アルバム名</th>
		        <th>値段</th>
		        <th>レーベル名</th>
		        <th>在庫数</th>
		        <th>店長のひとりごと</th>
			</thead>

			<tbody>
				<tr>
					<!-- 各所からデータを持ってくる。 -->
					<!-- アーティスト名orシングル/アルバム名 -->
					<td><%= @product.cd_artist.artist_name %></td>
					<td><%= @product.cd_name %></td>
					<td><%= @product.price %></td>
					<td><%= @product.cd_label.label_name %></td>
					<td><%= @product.stock_number %></td>
					<td><%= @product.owner_comment %></td>
				</tr>
			</tbody>
		</table>
	</div>

      <!--曲名リストのみ反映先を別にしている。-->
	  <div class="col-sm-6">
		<table>
			<thead>
				<tr>
					<th>曲名</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td><% @product.cd_musics.each do |c| %>
						<%= c.music_name %>
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>
	  </div>
	</div>

	<!-- ボタン（カートに入れる、戻る） -->
    <%= form_for(@products, url: product_cart_products_path(:product_id => @product.id)) do |f| %>

      <!-- ログインしていれば、この内容が読み込まれる。 -->
	  <% if user_signed_in? %>
	  		<%= f.hidden_field :user_id, :value => current_user.id %>
	  <% end %>


    <%= f.hidden_field :product_id, :value => @product.id %>

    <h4>購入数量</h4>
    <%= f.number_field :quantity,in: 1...5 %>
		<div class="actions">
		  <% if user_signed_in? %>
	    	<%= f.submit '購入カートに入れる', class: "btn btn-success" %>
	      <% end %>
	    </div>
    <% end %>
	          <%= link_to '戻る', products_path, class: "btn btn-info" %>
